@model ProyectoEstandares3.Models.Inventario

@{
    ViewBag.Title = "Detalle del producto";
}

<h2>Detalle del producto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockMinimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockMinimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockMaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockMaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Modificar", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
